* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

ul,
li {
    list-style: none;
}


body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Epilogue", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;;
}





.button {
    padding: 15px 30px;
    font-size: 13px;
    background-color: #D87D4A;
    color: #FFFFFF;
    border: none;
}

.header {
    background-color: #000000;
}

.audiophile {
    margin-left: 165px;
    color: #FFFFFF;
    font-size: 32px;
}

.phile {
    margin-top: 35px;
    display: flex;
}

.home {
    margin-left: 197px;
    gap: 34px;
    display: flex;
    margin-right: 320px;
}

.aud {
    font-size: 13px;
    color: #FFFFFF;
}

.shop {

}

.chiziq {
    width: 1080px;
    margin-top: 36px;
    margin-left: 165px;
    border: 1px solid #202020;

}

.nev {
    margin-top: 98px;
    margin-bottom: 97px;
    margin-left: 680px;
    color: #FFFFFF;
}