* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

ul,
li {
    list-style: none;
}


body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Epilogue", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    ;
}

.button {
    padding: 15px 30px;
    font-size: 13px;
    background-color: #D87D4A;
    color: #FFFFFF;
    border: none;
}

.footer {
    background-color: #000000;
}

.audiophile {
    margin-left: 165px;
    color: #FFFFFF;
    font-size: 32px;
}

.phile {
    margin-top: 75px;
    margin-bottom: 36px;
    display: flex;
}

.home {
    margin-top: -20px;
    margin-left: 820px;
    gap: 34px;
    display: flex;
    margin-right: 320px;
}

.aud {
    font-size: 13px;
    color: #FFFFFF;
}

.chiziq {
    width: 130px;
    margin-left: 165px;
    border: 4px solid #D87D4A;

}

.nev {
    margin-top: 98px;
    margin-bottom: 97px;
    margin-left: 680px;
    color: #FFFFFF;
}

.full {
    margin-top: 36px;
    margin-left: 165px;
}

.yarm {
    display: flex;


}

.paragrph {
    margin-top: 36px;
    font-size: 15px;
    color: #FFFFFF;
}

.nima {
    margin-top: 100px;
    margin-left: 466px;
}

.style {
    padding-left: 16px;
    padding-right: 16px;
}

.all {
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 56px;
    margin-bottom: 48px;
}